header {
    height: 200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

nav a {
    text-decoration: none;
}

.item {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    height: 300px;
}

.itembody {
    height: 250px;
    display: flex;
    justify-content: space-between;

}

.itemfooter {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding-left: 10px;
}

.github {
    padding-right: 10px;
}

.text {
    padding-left: 10px;
    width: 75%;
    padding-top: 10px;
}

.itembody img {
    width: 25%;
}

div.contact {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    width: 95%;
    align-items: center;

}

div.email {
    margin-left: 35px;
}

div.linkedin {
    margin-left: 35px;
}

div.contact span {
    margin-left: 10px;
}

div.contact img {
    width: 40px;
    height: 40px;
}

embed {
    margin-top: 25px;
}

.statement {
    width: 50%;
    text-align: center;
    padding: 15px;
}

.text {
    padding: 10px;
}

@media only screen and (max-width: 1000px) {

    .itembody {
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .itembody img {
        width: 80%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        height: 750px;
        display:flex;
        flex-direction: column;
    }

    .itemfooter {
        order: 0;
        flex-direction: column;
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    nav ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact {
        flex-direction: column;
        align-items: center;

    }

    .title {
        font-size: larger;
        padding-left: 0;
    }

    header h1 {
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .github {
        padding-right: 0;
    }
}