@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    /*background-color: #FFFDD0; */
    background-color: gainsboro;

}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    /*border-style: solid; */
    /*border-width: thin;*/
    /*background-image: linear-gradient(to right, #4484CE , #D9D9D9); */
    background-image: linear-gradient(to right, #5c60b2, #f6f7ff);

}

nav {
    border-style: solid;
    border-width: thin;
   /* background-color: #454d54;*/

}

header h1 {
    padding-right: 30px;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    margin-left: 20px
}

nav ul {
    list-style-type: none;
}

nav a {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

.item {
    /*background-color: #e9ecef; */
    background-color: #D0D2FF;
}
